




<div class="link-item clearfix" ng-repeat="eachPost in postList">
  <div class="rating">
    <span class="arrows">
        <a href="#"><i class="icon icon-arrow-up">^</i></a>
        <a href="#"><i class="icon icon-arrow-down">v</i></a>
    </span>
    <span class="score">
        2
    </span>
  </div>
  <div class="link-detail">
    <h2>
            <a href="{{ eachPost.url }}">{{ eachPost.title }}</a>
            <span >({{ eachPost.url }})</span>
    </h2>
    Submitted by <a ng-href="#/users/{{ eachPost.creatorUID }}">{{ eachPost.creator }}</a>
    9 hours ago | 077
    <a ng-href="#/posts/{{ eachPost.$id }}">comments</a>
    <a ng-click="deletePost(eachPost)" ng-show="user.uid === eachPost.creatorUID">delete</a>
  </div>
</div>
<div ng-include="'views/pagination.html'"></div>
